/* CSS: ano bissexto */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: plum;
}

#resultado {
    font-size: 20px;
}

#ano {
    border-radius: 2px;
}

button {
    border-radius: 2px;
}

button:hover {
    background-color: beige;
}